@page
@model AccountListModel
@{
  ViewData["Title"] = "Manage Accounts";
}

<h1>@ViewData["Title"]</h1>
<p>
  <a asp-page="./InviteUser">Invite user</a>
</p>
<table class="table">
  <thead>
    <tr>
      <th>
        Username
      </th>
      <th>
        Email
      </th>
      <th>
        Role
      </th>
      <th>
        Company
      </th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    @foreach (var item in Model.userRoles)
    {
      <tr>
        <td>
          @Html.DisplayFor(modelItem => item.Username)
        </td>
        <td>
          @Html.DisplayFor(modelItem => item.Email)
        </td>
        <td>
          @foreach (var role in item.Roles)
          {
            @Html.DisplayFor(modelItem => role)
          }
        </td>
        <td>
          <a asp-page="./EditAccount" asp-route-email="@item.Email">Edit</a> |
          <a asp-page="./DeleteAccount" asp-route-email="@item.Email">Delete</a>
        </td>
      </tr>
    }
  </tbody>
</table>
